/* NavBar Container */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 69;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #5788B2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.burger-menu {
    position: relative;
    left: 25px;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    background-image: url("https://img.icons8.com/?size=100&id=OTxpMqWbm71F&format=png&color=FFFFFF");
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-image: url("https://img.icons8.com/?size=100&id=0Jj2OFqGGRVZ&format=png&color=000000");
    background-size: cover;
    background-color: transparent;
    border: none;
}

.app-name {
    color: white;
}

.search-bar {
    position: absolute;
    left: calc(50vw - 100px);
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button{
    position: absolute;
    left: calc(50vw + 215px);
    width: 40px;
    height: 40px;
    background-image: url("https://img.icons8.com/?size=100&id=2sWrwEXiaegS&format=png&color=FFFFFF");
    background-size: 90%;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.search-button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}