/*
Close icon: https://img.icons8.com/?size=100&id=23537&format=png&color=000000
Close icon 2: https://img.icons8.com/?size=100&id=6483&format=png&color=000000
*/

.overlay {
    font-family: inherit;
    position: fixed;
    z-index: 21;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.editor-container {
    font-size: 30px;
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: wheat;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.window-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    align-content: center;
    height: 100%;
    font-family: inherit;
    font-size: 40px;
    color: black;
}

.header-spacer-left {
    width: 50px; /*same as close-button size*/
}

.close-button {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-image: url("https://img.icons8.com/?size=100&id=6483&format=png&color=000000");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}
.close-button:hover {
    background-color: red;
    background-image: url("https://img.icons8.com/?size=100&id=6483&format=png&color=FFFFFF");
}

.top-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.title-input {
    text-align: center;
    font-size: 30px;
    width: inherit;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

#edit-pin {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-input {
    font-family: inherit;
    font-size: 25px;
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.title-input:focus, .body-input:focus, .category-input:focus {
    outline: none;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.category-input {
    font-family: inherit;
    font-size: 20px;
    height: 40px;
    width: inherit;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.date-stamp {
    color: #404040;
    font-size: .45em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.submit {
    background-color: rgba(255, 127, 80, 0.5);
    font-weight: 900;
    font-family: inherit;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: coral;
    color: #ffffff;
}

.submit:disabled {
    background-color: rgb(184, 184, 184);
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

