/*
Pin icon, black: https://img.icons8.com/?size=100&id=9JrqhYs9ejP6&format=png&color=000000
Pin icon, white: https://img.icons8.com/?size=100&id=0BngLkWjYAnC&format=png&color=000000
Plus icon: https://img.icons8.com/?size=100&id=11153&format=png&color=000000
*/

.notesBoard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
}
.newNoteContainer {
    width: 250px;
    height: 250px;
    border: 2px dotted gray;
    border-radius: 15px;
    background-image: url(https://img.icons8.com/?size=100&id=11153&format=png&color=000000);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.newNoteContainer:hover {
    background-color: lightgray;
    cursor: pointer;
}


.noteItemContainer {
    font-family: Verdana, sans-serif;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*horizontal alignment*/
    align-items: center; /*vertical alignment*/
}

.noteItemContainer:hover > .footer > .noteButtonMenu {
    visibility: visible;
}

.title, .body {
    border: 1px solid black;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.body {
    text-align: left;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.noteButtonMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    visibility: hidden;

}

.noteButton {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 15%;
    border: 1px solid coral;
    cursor: pointer;
    margin: 0 2px;
}
#edit {
    background-image: url('https://img.icons8.com/?size=100&id=P1bJzKUoOQYz&format=png&color=000000');
}
#color {
    background-image: url('https://img.icons8.com/?size=100&id=54062&format=png&color=000000');
}
#reminder {
    background-image: url('https://img.icons8.com/?size=100&id=DKjZ0mk8Zg4w&format=png&color=000000');
}
#menu {
    background-image: url('https://img.icons8.com/?size=100&id=98963&format=png&color=000000');
}
