/*
Pin icon, black: https://img.icons8.com/?size=100&id=9JrqhYs9ejP6&format=png&color=000000
Pin icon, white: https://img.icons8.com/?size=100&id=0BngLkWjYAnC&format=png&color=FFFFFF
Plus icon, black: https://img.icons8.com/?size=100&id=11153&format=png&color=000000
Plus icon, white: https://img.icons8.com/?size=100&id=3220&format=png&color=FFFFFF
Pencil icon: https://img.icons8.com/?size=100&id=P1bJzKUoOQYz&format=png&color=000000
Swatch icon: https://img.icons8.com/?size=100&id=54062&format=png&color=000000
Bell icon: https://img.icons8.com/?size=100&id=DKjZ0mk8Zg4w&format=png&color=000000
Menu icon: https://img.icons8.com/?size=100&id=98963&format=png&color=000000
*/

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

.notesBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 50px;
    position: absolute;
    top: 100px;
    right: 50px;
    bottom: 50px;
    left: 150px;
    font-size: 20px;
    color: white;
}

.newNoteContainer {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px dashed white;
    border-radius: 15px;
    background-image: url('https://img.icons8.com/?size=100&id=11153&format=png&color=FFFFFF');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.newNoteContainer:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.noteItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.noteItemContainer:hover {
    .pin-off, .noteButton {
        visibility: visible;
    }
    .pin-on {
        background-color: rgba(255, 255, 255, 0.5);
    }
    box-shadow: white 0px 0px 30px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pin {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15%;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

#pin:hover {
    background-color: rgba(255,255,255,1);
}

.pin-off {
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
}

.pin-on{
    background-color: transparent;
    visibility: visible;
}

.title, .body {
    color: black;
    /*background-color: rgba(0,0,0,0.3);*/
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    text-align: left;
    line-height: 1.2;
    overflow: clip;
    text-overflow: ellipsis;
    padding: 0.2em;
}

.title {
    font-size: 1em;
    font-weight: bold;
    min-height: 1em;
    max-height: calc(1.2em * 2);
}

.body {
    font-size: 0.8em;
    height: 100px;
    max-height: calc(1.2em * 5);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.category {
    font-size: 0.7em;
    font-weight: lighter;
    border: 1px solid transparent;
    padding: 0.2em;
    border-radius: 5px;
    background-color: #183C5C;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteButtonMenu {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    visibility: hidden;
}

.noteButton {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 15%;
    border: none;
    cursor: pointer;
}
#edit {
    background-image: url('https://img.icons8.com/?size=100&id=P1bJzKUoOQYz&format=png&color=000000');
}
#color {
    background-image: url('https://img.icons8.com/?size=100&id=54062&format=png&color=000000');
}
#reminder {
    background-image: url('https://img.icons8.com/?size=100&id=DKjZ0mk8Zg4w&format=png&color=000000');
}
#menu {
    background-image: url('https://img.icons8.com/?size=100&id=98963&format=png&color=000000');
}

.noteButton:hover {
    background-color: rgba(255,255,255,1);
}
